body {
background-image: url(../img/bg.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #fff;
}

.formu {

    width: 30%;
    float: left;

}


.no-pad {

    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.bg {

    position: relative;
    width: 100vw;

}

.formulario {

    position: absolute;
    top: 45%;
    left: 11%;

}

label {
    margin-bottom: 10px !important;

}

input, textarea, select, button {
    width : 250px !important;
    margin: -12px !important;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;

}

.manbt {

    border-radius: 20px !important;
    margin-left: -16% !important;
    background-color: #7BC314 !important;
    border-color: #7BC314 !important;
    position: absolute;

}

.manbt:hover {

    border-radius: 20px !important;
    background-color: #5A910B !important;
    border-color: #5A910B !important;

}

.campos{

    margin-top: 10%;
    font-size: 11px;
    color: gray;
    margin-left: -3%;


}

.gracias {

    position: absolute;
    top: 50%;
    left: 20%;
    font-size: large;
    color: grey;
}

.dateSelect {
    margin-top: 5%;
    font-size: 11px;
    color: grey;
    font-weight: normal !important;
}

