/* Fuentes */

@font-face {
    font-family: 'DINRegular';
    src: url('../fonts/DINNextRoundedLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINNextRoundedLTPro-Regular.otf')  format('opentype'),
        url('../fonts/DINNextRoundedLTPro-Regular.woff') format('woff'), url('../fonts/DINNextRoundedLTPro-Regular.ttf')  format('truetype'), url('../fonts/DINNextRoundedLTPro-Regular.svg#DINNextRoundedLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINBold';
    src: url('../fonts/DINNextRoundedLTPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINNextRoundedLTPro-Bold.otf')  format('opentype'),
        url('../fonts/DINNextRoundedLTPro-Bold.woff') format('woff'), url('../fonts/DINNextRoundedLTPro-Bold.ttf')  format('truetype'), url('../fonts/DINNextRoundedLTPro-Bold.svg#DINNextRoundedLTPro-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DINMedium';
    src: url('../fonts/DINNextRoundedLTPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINNextRoundedLTPro-Medium.otf')  format('opentype'),
        url('../fonts/DINNextRoundedLTPro-Medium.woff') format('woff'), url('../fonts/DINNextRoundedLTPro-Medium.ttf')  format('truetype'), url('../fonts/DINNextRoundedLTPro-Medium.svg#DINNextRoundedLTPro-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*fontawesome iconfont*/
@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

.dinB {
    font-family: 'DINBold' !important;
}

.dinM {
    font-family: 'DINMedium' !important;
}

.dinR {
    font-family: 'DINRegular' !important;
}

.container {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.form {
    position: absolute;
    width: 44%;
    height: 45%;
    top: 0px;
    left: 0px;
    margin-top: 25%;
    margin-left: 9%;
}

.inputStyle {
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}
.form-control {
    font-size: 12px !important;
    height: 25px !important;
    padding: 5px 12px 1px !important;
    box-shadow: inset 0 -18px 16px -6px #ddd, 0 2px 5px #c6ccd8;
}
.manbt {
    border-radius: 20px !important;
    margin-left: -1% !important;
    background-color: #7BC314 !important;
    border-color: #7BC314 !important;
    position: absolute;
    color: #fff;
    border-width: 0px;
    width: 40%;
    padding-top: 6px;
    margin-top: 3%;
}
.manbt:hover {
    border-radius: 20px !important;
    background-color: #5A910B !important;
    border-color: #5A910B !important;
}